<% if EQ.worker && EQ.worker.alive? %>
  <h2><%= EQ::Working.pool_size %> Worker</h2>
<% else %>
  <h2>Worker deaktiviert</h2>
<% end %>
<% if EQ.scheduler && EQ.scheduler.alive? %>
  <h2>Scheduler</h2>
  <table>
    <% EQ::Scheduling.events.each do |job_class, period| %>
      <tr>
        <td><%= job_class %></td>
        <td><%= period %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>Scheduler deaktiviert</h2>
<% end %>
<% if EQ.queue && EQ.queue.alive? %>
  <h2><%= EQ.queue.count %> Queue Jobs (<a href='<%=u "/delete" %>'>Remove all</a>)</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Queue</th>
        <th>Payload</th>
        <th>CreatedAt</th>
        <th>StartedWorkingAt</th>
      </tr>
    </thead>
    <tbody>
      <% EQ.queue.iterator do |job| %>
        <tr>
          <td><%= job[:id] %> (<a href='<%=u "/delete/#{job[:id]}" %>'>Remove</a>)</td>
          <td><%= job[:queue] %></td>
          <td><%= job[:payload] %></td>
          <td><%= job[:created_at] %></td>
          <td><%= job[:started_working_at] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>Queue deaktiviert</h2>
<% end %>